name: sanity-check

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/sanity.yml'
      - '.github/scripts/**'
  workflow_dispatch:

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Sync Dependencies
        run: uv sync

      - name: Global Lint Check
        run: uv run ruff check .github/scripts/